{% load static %}
<!DOCTYPE html>
     <html lang="en">
          <head>

               <title>BAKOD AI</title>

               <meta charset="UTF-8">
               <meta http-equiv="X-UA-Compatible" content="IE=Edge">
               <meta name="description" content="">
               <meta name="keywords" content="">
               <meta name="author" content="Tooplate">
               <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
              

               <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=PT+Sans&family=Raleway&family=Source+Sans+Pro&display=swap" rel="stylesheet">
               
          
               <!-- MAIN CSS -->

               <link rel="stylesheet" href="{% static 'styles.css' %}">

          </head>

          <!-- HOME -->


          {% block content%}
          {% endblock %}


          <!-- FOOTER -->
          <footer>
               <p>
               &copy; 2020 BAKOD AI. All Rights Reserved.
               </p>
          </footer>

          

     </body>
</html>