{% extends 'headerPage.html' %}

{% block content%}

{% load static %}

    <nav>
        <a href="{% url 'landing' %}" class="logo">BAKOD AI <span><img src="{% static 'images/leaf-solid.svg' %}" alt="leaf"></span></a>
        <a href="{% url 'imageupload' %}" class="models">GET STARTED</a>
    </nav>

    <div class="hero">
        <h1>Natura Sit Vitae</h1>
        <p>BAKOD AI strongly believes that “Nature is Life”.</p>
        <a href="{% url 'imageupload' %}" class="models-hidden">GET STARTED</a>
    </div>

    <div class="summary">
        <img src="{% static 'images/undraw_nature_m5ll (1) 1.svg' %}" alt="enviroment" />
        <div class="summary-details">
            <h5>BAKOD AI</h5>
            <p>
                is a proof of concept machine learning project aimed towards creating an automated monitoring 
                process of forests using 30-250 meter altitude satellite imagery from NASA and the United States 
                Geological Survey Agency's Landsat.
            </p>
        </div>
    </div>

    <div class="def">
        <h1>" Bakod "</h1>
        <p>
            In Illongo, the term is often used to distinguish one owner's land from another. This concept was 
            adopted by the BAKOD AI team to create a project to monitor the land areas of forests, which has 
            a significant role to play as a solution towards reducing massive emissions.
        </p>
    </div>

    <div class="un">
        <div>
            <p>
                According to the <span>United Nations Environment Programme (UNEP),</span> it is impossible to limit the average 
                global temperature increase to 1.5°C <span>without forests</span> reducing much of our society's emissions. 
                Forests are also important ecosystems for the different animals on earth. Hence, the need to 
                monitor our forest has been the primary focus of our project.
                <br><br>
                In monitoring forests through <span>machine learning,</span> the general public can monitor how much forests 
                are being reduced or grown in their areas. It also allows potential areas of monitoring whereby 
                satellite imagery can be monitored to identify which geolocations do deforestation occur more 
                rapidly. Identifying these critical areas <span>enables authorities to identify areas that can cause 
                deforestation.</span>
                <br><br>
                Doing this project allows the potential to <span>create more robust models</span> in identifying deforestation 
                through satellite imagery and machine learning image processing. In doing so, the project can serve 
                as a <span>plug-and-play solution</span> towards monitoring deforestation in any area worldwide.
            </p>
        </div>
        <img src="{% static 'images/un-logo.png' %}" alt="un-logo">
    </div>

    <div class="activities">
        <h1>DETECTABLE DEFORESTATION ACTIVITIES</h1>
        <div class="categories">
            <img src="{% static 'images/Group 26.png' %}" alt="category">
            <img src="{% static 'images/Group 19.png' %}" alt="category">
            <img src="{% static 'images/Group 27.png' %}" alt="category">
            <img src="{% static 'images/Group 16.png' %}" alt="category">
            <img src="{% static 'images/Group 17.png' %}" alt="category">
            <img src="{% static 'images/Group 18.png' %}" alt="category">
        </div>
    </div>

    <div class="save">
        <div class="save-details">
            <h1>SAVE <br> ENVIROMENTALISTS</h1>
            <p>
                Our team created this project based on how environmentalists protect wildlife in the Philippines, 
                specifically our forests. Protecting the forests of our country is a life-threatening duty to 
                most environmentalists. Some even lose their lives as they watch over these forests through 
                physical monitoring of these landscapes. Our team knew that there has to be a safer way to 
                protect our forests. Thus, we realized BAKOD AI as a safer alternative monitoring system for 
                people in preserving the forests.
            </p>
        </div>
        <img src="{% static 'images/nikolas-noonan-cbcZdQqhwuA-unsplash 1.png' %}" alt="save">
    </div>

    <div class="access">
        <img src="{% static 'images/nasa-yZygONrUBe8-unsplash 1.png' %}" alt="access">
        <div class="access-details">
            <h1>EASY <br> MONITORING</h1>
            <p>
                We believed that forests could be easily monitored by satellites as they are always under 
                their field of vision. On top of that, an image classification machine learning model is 
                integrated to identify a forest area's health. The team used a pre-trained PyTorch model 
                named Resnet (specifically Resent18) and fed multiple satellite images of the Amazon 
                rainforest to train the model to identify the Amazon rainforest landscape and look for 
                deforestation activities.
            </p>
        </div>
    </div>

    <div class="code">
        <div class="code-details">
            <h1>PYTHON-BASED</h1>
            <p>
                The model was deployed using Django, a Python-based web framework, to give the team and future 
                developers the ability to customize the whole web app into the needed parts for their specific 
                needs. Django has allowed our team to separate each functionality into clearly defined apps 
                that would enable people to make modular versions of our final product.
            </p>
        </div>
        <img src="{% static 'images/safar-safarov-LKsHwgzyk7c-unsplash 1.png' %}" alt="code">
    </div>

{% endblock %}