{% extends 'headerPage.html' %}

{% block content%}

{% load static %}

    <nav>
        <a href="{% url 'landing' %}" class="logo">BAKOD AI <span><img src="{% static 'images/leaf-solid.svg' %}" alt="leaf"></span></a>
    </nav>

    <div class="spacer">
        <div class="submit-card">
            <h2 class="submit-heading">Upload Image for Classification</h2>
            
            <br>
        
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input">
                    <h1>Upload Image File Here:</h1>
                    <div>
                        <label for="fname">UPLOAD AN IMAGE</label> 
                        <input id="fname" name="filePath" type="file">
                    </div>
                </div> 
                <input type="submit" class="submit" value="Submit" >
            </form>
            <p id="msg">Please select an image first. Then press submit.</p>
            <hr >
            <div class="result">
                <img src={{filePathName}} alt='imagename' class="chosen-img">
                {{filePathName}}
                <h2>The classification of the image is <span>{{predictedLabel}}</span></h2>
            </div>
    
        </div>
    </div>

    <script>
        let upload = false;
        document.getElementById("msg").style.visibility = "hidden";
        document.getElementById("msg").style.color = "ff794d";
        document.getElementById("fname").required = true;

        document.getElementById("fname").addEventListener("change", (event) => {
            console.log(!!event.target.files[0])
            if(event.target.files[0]){
                document.getElementbyId("msg").style.visibility = "hidden";
                uploaded = true
            }
        })
        
        document.querySelector(".submit").addEventListener("click", () => {
            if(!uploaded){
                document.getElementById("msg").style.visibility = "visible";
            }
        })

    </script>
{% endblock %}