{% extends 'headerPage.html' %}

{% block content%}

{% load static %}

    <nav>
        <a href="{% url 'landing' %}" class="logo">BAKOD AI <span><img src="{% static 'images/leaf-solid.svg' %}" alt="leaf"></span></a>
    </nav>

    <div class="spacer">
        <div class="submit-card">
            <h2 class="submit-heading">Upload Image for Classification</h2>
            
            <br>
        
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input">
                    <h1>Upload Image File Here:</h1>
                    <div>
                        <label for="fname">UPLOAD AN IMAGE</label> 
                        <input id="fname" name="filePath" type="file">
                    </div>
                </div> 
                <input type="submit" class="submit" value="Submit" >
            </form>
    
            <hr >
            <div class="result">
                <img src={{filePathName}} alt='imagename' class="chosen-img">
                {{filePathName}}
                <h2>The classification of the image is <span>{{predictedLabel}}</span></h2>
            </div>
    
        </div>
    </div>

{% endblock %}